@keyframes mario-animation {
    0%{
        right: -20%;
    }

    100%{
        right: 100%;
    }
}

@keyframes pulo {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes nuvens {
    0%{
        right: -30%;
    }

    100%{
        right: 100%;
    }
}

@media(max-width: 500px){
    @keyframes mario-animation {
        0%{
            right: -20%;
        }
    
        100%{
            right: 100%;
        }
    }
    
    @keyframes pulo {
        0%{
            bottom: 0;
        }
    
        40%{
            bottom: 120px;
        }
    
        50%{
            bottom: 120px;
        }
    
        60%{
            bottom: 120px;
        }
    
        100%{
            bottom: 0;
        }
    }
    
    @keyframes nuvens {
        0%{
            right: -90%;
        }
    
        100%{
            right: 100%;
        }
    }
}